<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="codcat.magnitrailstation">

    <application
        android:name="codcat.magnitrailstation.AppLoader"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">


        <activity
            android:name="codcat.magnitrailstation.feature.launch_screen.LaunchScreen"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashStyle"
            android:windowSoftInputMode="adjustNothing|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="codcat.magnitrailstation.feature.main_screen.MainScreen"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateHidden"/>

    </application>

</manifest>